:root {
    --white: #FFFFFF;
    --black: #080404;
    --red-wine:#B00000;
    --green:#006523;
    --yellow:#D8A800;
    --blue:#20009E;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--black);
}

@media (max-width: 640px) {
    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 200px 0;
        align-items: center;
    }

    .btn-primary {
        background-color: var(--yellow);
        border-radius: 20px;
        border: none;
        color: var(--white); 
        width: 250px;
        cursor: pointer;
        font-size: var(--md);
        font-weight: bold;
        height: 55px;
        margin-top: 30px;
    }

    .btn-secundary {
        background-color: var(--green);
        border-radius: 20px;
        border: none;
        color: var(--white); 
        width: 250px;
        cursor: pointer;
        font-size: var(--md);
        font-weight: bold;
        height: 55px;
        margin-top: 30px;
    }

    .btn-nose {
        background-color: #1E8989;
        border-radius: 20px;
        border: none;
        color: var(--white); 
        width: 250px;
        cursor: pointer;
        font-size: var(--md);
        font-weight: bold;
        height: 55px;
        margin-top: 30px;
    }

    .btn-tertiary {
        background-color: var(--red-wine);
        border-radius: 20px;
        border: none;
        color: var(--white); 
        width: 250px;
        cursor: pointer;
        font-size: var(--md);
        font-weight: bold;
        height: 55px;
        margin-top: 30px;
    }
    .btn-quaternary {
        background-color: var(--blue);
        border-radius: 20px;
        border: none;
        color: var(--white); 
        width: 250px;
        cursor: pointer;
        font-size: var(--md);
        font-weight: bold;
        height: 55px;
        margin-top: 30px;
    }

}