:root {
    --white: #FFFFFF;
    --black: #080404;
    --red-wine:#701c34;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--black);
}

@media (max-width: 640px) {
.container {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    margin-top: 260px;
    width: 300px;
    margin-bottom: 30px;
}

.container p{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.logo-dragon {
    position: fixed;
    bottom: 15px;
    left: 10%;
}

.input-user {
    margin-top:20px;
}

.input-user input {
    background-color: var(--white);
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 290px;
    font-size: var(--sm);
    padding: 6px;
}

.input-user input::-webkit-input-placeholder {
    text-align: center;
    line-height: 100px;/* Centrado vertical */
  }

.btn-primary{
    background-color: #B00000;
    border-radius: 20px;
    border: none;
    color: var(--white); 
    width: 150px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 35px;
    margin-top: 30px;
}
}